<% if(alerts && alerts.error) { %>
		<% alerts.error.forEach(function(msg) { %>
				<p><%= msg %></p>
		<% }); %>
<% } %>

<% if(alerts && alerts.success) { %>
		<% alerts.success.forEach(function(msg) { %>
				<p><%= msg %></p>
		<% }); %>
<% } %>
