<div class="container">
		<p class="flow-text">Welcome to Brewzaar, an online marketplace for trading beer.  Search for your favorite beers and find users who are looking to make a trade.  	</p>
</div>
<div class="home-page-picture">
		<img src="img/cheers.jpg" alt="friends cheers" class="responsive-img">
</div>
