<h1>Welcome Back</h1>

<form action="/login" method="POST">
	<legend>Login</legend>

		<label for="username">Username</label>
		<input type="text" id="username" name="username" placeholder="Your username">

		<label for="password">Password</label>
		<input type="password" id="password" name="password" placeholder="Your password">

	<button type="submit">Login</button>
</form>
