<h1>Seach for your favorite beer or brewery</h1>

<form action="/results/beers" method="GET">
		<label for="beer">Beer Name</label>
		<input type="text" id="beer" name="beer" placeholder="Name of a beer">

		<input type="submit">Search Beers</input>
</form>

<form action="/results/breweries" method="GET">
		<label for="brewery">Brewery Name</label>
		<input type="text" id="brewery" name="brewery" placeholder="Name of a brewery">

		<input type="submit">Search Breweries</input>
</form>
