<h4>Seach for your favorite beer or brewery</h4>

<div class="row">
		<form action="/results/beers" method="GET" class="col s12 m6">
				<div class="row">
						<div class="input-field col s12">
							<input type="text" name="beer" class="validate">
							<label for="beer">Beer Name</label>
						</div>
				</div>

				<input type="submit" value="Search Beers" class="btn">
		</form>
</div>

<div class="row">
		<form action="/results/breweries" method="GET" class="col s12 m6">
				<div class="row">
						<div class="input-field col s12">
								<input type="text" name="brewery" class="validate">
								<label for="brewery">Brewery Name</label>
						</div>
				</div>

				<input type="submit" value="Search Breweries" class="btn">
		</form>
</div>
