<h1>Seach for your favorite beer or brewery</h1>

<form action="/results/beers" method="GET">
		<label for="beer">Beer Name</label>
		<input type="text" name="beer" placeholder="Name of a beer">

		<input type="submit" value="Search Beers">
</form>

<form action="/results/breweries" method="GET">
		<label for="brewery">Brewery Name</label>
		<input type="text" name="brewery" placeholder="Name of a brewery">

		<input type="submit" value="Search Breweries">
</form>
