<h1>Sign Up for a New Account</h1>

<form action="/signup" method="POST">
	<legend>New User</legend>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" placeholder="Desired username">

		<label for="login">Email</label>
		<input type="email" id="email" name="email" placeholder="Your email">

		<label for="password">Password</label>
		<input type="password" id="password" name="password" placeholder="Your password">

		<label for="firstname">First Name</label>
		<input type="text" id="firstname" name="firstName" placeholder="Your first name">

		<label for="lastname">Last Name</label>
		<input type="text" id="lastname" name="lastName" placeholder="Your last name">

		<label for="address">Address</label>
		<input type="text" id="address" name="address" placeholder="Your address">

		<button type="submit">Sign Up</button>
</form>
