<h1>Select which brewery you want to add a beer for</h1>

<ul>
		<% breweries.data.forEach(function(brewery) { %>
				<li>
					<a href="<%= '/beer/new/' + brewery.id %>"><%= brewery.name %></a>
				</li>
		<% }); %>
</ul>
