<h1>Add a new beer</h1>

<p>First, which brewery makes the beer you'd like to add?</p>
<form action="/beer/brewery/show" method="GET">
		<label for="brewery">Brewery Name</label>
		<input type="text" name="brewery" placeholder="Name of a brewery">

		<input type="submit" value="Search Breweries">
</form>
