<h4>Select which brewery you want to add a beer for</h4>

<ul class="collection">
		<% breweries.data.forEach(function(brewery) { %>
				<li>
					<a href="<%= '/beer/new/' + brewery.id %>" class="collection-item"><%= brewery.name %></a>
				</li>
		<% }); %>
</ul>
