<h1>Add a new beer</h1>

<form action="/beer/new" method="POST">
		<label for="name">Name of Beer</label>
		<input type="text" name="name" placeholder="Beer name">

		<label for="style">Select a Style</label>
		<select name="style">
				<% styles.data.forEach(function(style) { %>
						<option value="<%= style.id %>"><%= style.shortName %></option>
				<% }); %>
		</select>

		<label for="description">Description</label>
		<textarea name="description" cols="30" rows="10" placeholder="Beer description"></textarea>

		<label for="abv">ABV</label>
		<input type="text" name="abv" placeholder="0.0">

		<label for="ibu">IBU</label>
		<input type="number" name="ibu"	placeholder="0">

		<label for="brewery">Brewery</label>
		<input type="text" name="brewery" value="<%= breweryId %>">

		<input type="submit" value="Create Beer">
</form>
