html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

* {
    font-family: 'Abel', sans-serif;
}

.flex {
    display: flex;
}

.space-around {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#home-btn {
    margin-left: 2em;
}

#nav-links {
    margin-right: 3em;
}

#nav-links a,
#owned-btn a,
#wanted-btn a {
    font-size: 1.5em;
}

.box {
    min-width: 200px;
    max-width: 30%;
    border: 2px solid #212121;
    margin: 2em .5em;
    padding: 1em;
}

.box h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.box p {
    margin-top: 0;
}

.box div {
    max-height: 70%;
}

.container {
    position: absolute;
    min-height: 100vh;
    top: 30%;
    left: 15%;
    z-index: -1;
    padding: 0 4em;
}

.container h4 {
    margin-top: 1em;
}

.container > a {
    margin-top: 1em;
    margin-bottom: 1em;
}

.home-page-picture {
    position: absolute;
    top: 45%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    z-index: -1;
}

.header {
    margin: 0 auto;
    border-bottom: 1px solid #212121;
}

.header h1 {
    font-family: 'Bowlby One SC', cursive;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 5% 0 5%;
}

.header h5 {
    padding: 0 5% 1.5em 5%;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    background-color: #fafafa;
}

.collection li {
    font-size: 1.5em;
}

.collection span {
    font-size: 1em;
}

@media only screen and (max-width: 992px) {
    .container {
        left: 7.5%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        left: 5%;
    }
}
